p {
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;  
    text-align: center;
  }

  .tesla {
    font-size: 35px;
    font-weight: BOLD;
  }

  .order {
    font-weight: normal;
    margin-top: 8px;
  }

  .touchless {
    text-decoration: underline;
  }